/* This css file will only style the JDBC CRUD app */

html, body{
    margin-left:15px; margin-right:15px; 
    padding:0px; 
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ccc;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #ececec;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #138496;
    color: white;
}

#wrapper {
    width: 100%;
    margin-top: 0px; 
}

#header { 
    background: #138496; 
    margin-top: 0px; 
    padding: 15px 0px 15px 0px;
    text-align: center;
}

#header h2 {
    width: 100%; 
    margin:auto; 
    color: #FFFFFF;
}

#container {
    width: 100%; 
    margin:auto
}

#container h3 {
    color: #000;
}

#container #content {
    margin-top: 20px;
}

.add-student-button {
    font-size: 12px;
    font-weight: bold;
    width: 100%; 
    padding: 15px 0px 15px 0px; 
    margin-top: 15px;
}

input {
    width: 98%;
    height: 100%;
    padding: 3px; 
    margin: 0;
    font-size: 16px;
}

.save {
    width: 98%; 
    padding: 5px 10px; 
}